<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/img/cachorro.jpg" class="imgcachorro" alt="...">
  </div>

  <div class="col-md-6 p-4 ps-md-0">
    <h1 class="mt-0">Seja um herói</h1>
    <h6>
      Nós da PetCare nos importamos com todos os pets, existem milhares de pets sem lar. Por aqui você pode fazer uma doação para ajudar ONGS e PROJETOS que ajudam esses pets.</h6>
    <button href="#" class="button">DOAR</button>
  </div>

</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/img/miau2.png" class="miaudois" alt="...">
      <div class="card-body">
        <h5 class="card-title">ONG Projeto MI&AU</h5>
        <p class="card-text">O Projeto Mi & Au é uma ação de iniciativa coletiva, com finalidade educativa no segmento da valorização da vida, especificamente às espécies caninas e felinas. Estamos na região de Guarulhos</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="assets/img/amgbicho1.jpg" class="amgbicho1" alt="...">
      <div class="card-body">
        <h5 class="card-title">AIPA - Amigo Bicho</h5>
        <p class="card-text">A Associação Içarense de Proteção Animal(AIPA - Amigo Bicho) tem o intuito de estimular  o respeito e a proteção aos animais, sejam eles domésticos ou silvestres, bem como  proteger os animais. </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="assets/img/sospet.png" class="soscidadania" alt="...">
      <div class="card-body">
        <h5 class="card-title">ONG SOS CIDADANIA ANIMAL</h5>
        <p class="card-text">A ONG SOS Cidadania Animal de São Caetano do Sul tem como principal objetivo a realização de eventos para adoção de cães e gatos, resgates na medida do possível (não temos abrigo), incentivar a castração e a vacinação, lutar por vida digna dentro do CCZ Municipal, gritar em nome dos animais pelo fim das crueldades e abandonos.</p>
      </div>
    </div>
  </div>

</div>
